:root {
    --background: #fffcfa;
    --text: #313438;
    --emphasis: #513232;
}

@font-face {
    font-family: valkyrie_b;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_regular.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_italic.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_bold.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_bold_italic.woff2") format("woff2");
    }

    html { font-size: 2.4vw; margin:0; }
    @media all and (min-width:1000px) { html { font-size: 18px; } }
    @media all and (max-width:520px) { html{ font-size: 16px; } }

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'valkyrie_b';
    line-height: 1.25;
    font-size: 0.9rem;
    font-variant-numeric: oldstyle-nums;
}

#container {
    width: 45%;
    margin: auto;
}
@media screen and (max-width: 520px) {
    #container {
        width: 92%;
        padding: 4%;
        margin: 0;
        border: 0;
    }
  }
#menu {
    margin: 0;
    border-top: 1px solid var(--emphasis);
    border-bottom: 1px solid var(--emphasis);
    padding: 5px;
}

#endofpage {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid var(--emphasis);
}

#divider {
    border-top: 1px dashed var(--emphasis);
}
#container p {
    text-align: justify;
    line-height: 130%;
}
#headerof {
    text-align: right;
}
#rightofpic {
    float: left;
}

h1 {
    font-family: "Poppins", serif;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 3px;
    color: var(--emphasis);
    font-variant: small-caps;
    margin: 0;
    margin-top: 185px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 0;
    color: var(--emphasis);
}

#name-subtitle {
    font-size: 18px;
    font-style: italic;
    opacity: 0.8;
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    color: var(--emphasis);
}

a:hover {
    color: var(--emphasis);
    text-decoration: none;
}

#container ul {
    list-style: square;
  }
  