:root {
    --color-dark: #383838;
    --color-light: #E8E8E8;
    --color-primary: #7c3350;
    --font: 'Noto Sans Display', sans-serif;
}

body {
    color: var(--color-dark);
    background-color: var(--color-light);
    font-family: var(--font);
    line-height: 140%;
    font-size: 17px;
}
a, a:link, a:visited {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#container {
    width: 46%;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 2%;
    text-align: justify;
}

@media screen and (max-width: 800px) {
    #container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        text-align: justify;
    }
  }

.pic {
    text-align: center;
    margin: 10px;
}
.pic img {
    width: 150px;
    border-radius: 100%;
}
h2 {
    text-align: center;
    margin: 10px;
}
h3 {
    border-bottom: 1px solid var(--color-primary);
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 15px;
}
ul {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 130%;
}
#menu {
    text-align: center;
    margin-bottom: 20px;
}
footer {
    margin-top: 20px;
}