:root {
    --emphasis: #743143;
    --less-emphasis: #d7c4c0;
    --background: #FFFFFF;
    --lighter: #eae7e5;
    --margin: 20rem;
    --text: #433E43;
    --darker-text: #2e2c2e;
}
html { font-size: 2.4vw; margin:0; }
@media all and (min-width:1000px) { html { font-size: 18px; }


#picture {
    text-align: center;
    margin-top: 1rem;
    margin-left: var(--margin);
    margin-right: var(--margin);
    margin-bottom: 0.7rem;
}

#container, footer {
    margin-left: var(--margin);
    margin-right: var(--margin);
}
}
@media all and (max-width:520px) { html{ font-size: 16px; } 



#picture {
    text-align: center;
    margin-top: 1rem;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0.7rem;
}

#container, footer {
    margin-left: 3%;
    margin-right: 3%;
}}

body {
    margin: 0;
    font-family: 'valkyrie_b';
    line-height: 1.35;
    font-size: 0.9rem;
    font-variant-numeric: oldstyle-nums;
    background-color: var(--background);
    color: var(--text);
}

h1 {
    font-family: "Alegreya Sans SC";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 160%;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
}

h2 {
    font-family: "Alegreya Sans SC";
    font-weight: normal;
    text-transform: lowercase;
    color: var(--emphasis);
    font-size: 140%;
    text-align: left;
    margin: 0.15rem;
    margin-left: 1rem;
}

h2 ion-icon {
    font-size: 60%;
    position: relative;
    top: 0.05rem;
    color: var(--text);
}

h3 {
    color: var(--emphasis);
    font-size: 105%;
    text-align: center;
    margin: 0;
    margin-top: 0.3rem;
}
ul {
    margin: 0;
    list-style: none;
    padding-left: 1.5rem;
    margin-bottom: 0.75rem;
}

li:before {
    content: "⬨";
    opacity: 0.7;
    padding-right: 5px;
    position: relative;
    top: -0.08rem;
}

.interventi {
    font-size: 90%;
}

#picture img {
    width: 85%;
    height: 250px;
    opacity: 0.9;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    opacity: 0.9;
    font-size: 80%;
}

.special-box {
    background-color: var(--lighter);
    padding: 0.9rem;
    margin: 0.5rem;
    margin-top: 1rem;
}

.special-box p {
    font-size: 95%;
}

p {
    margin: 0;
    margin-left: 0.65rem;
    margin-right: 0.65rem;
    text-align: justify;
}

a {
    color: var(--emphasis);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 95%;
    text-align: center;
    padding-top: 1rem;
}

.divisor {
    color: var(--text);
    position: relative;
    top: -0.10rem;
    font-size: 90%;
    margin-left: 5px;
    margin-right: 5px;
}

#menu {
    font-size: 75%;
    text-align: center;
    letter-spacing: 1px;
}

#menu .contacts {
    text-align: center;
    color: var(--emphasis);
    font-family: monospace;
}

.big-divisor-top {
   width: 100%;
   margin-top: 0.25rem;
   margin-bottom: 0.5rem;
   border-bottom: 1px solid var(--emphasis);
}
.big-divisor-bottom {
    width: 100%;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid var(--emphasis);
}

.big-divisor-symbol {
    font-family: "Alegreya Sans SC";
    font-weight: normal;
    text-transform: lowercase;
    color: var(--emphasis);
    font-size: 140%;
    text-align: center;
    margin: 0.15rem;
}

.dettagli, details {
    font-size: 90%;
}

.smaller-title-box {
    margin-left: 0.65rem;
    margin-right: 0.65rem;
    border-bottom: 1px dashed var(--emphasis);
    text-align: center;
    margin-bottom: 0.6rem;
}

.smaller-title {
    background-color: var(--background);
    position: relative;
    top: 0.6rem;
    padding-left: 7px;
    padding-right: 7px;
    font-family: "Alegreya Sans SC";
    font-weight: normal;
    text-transform: lowercase;
    color: var(--emphasis);
    font-size: 110%;
}

a img {
    opacity: 0.8;
}
a img:hover {
    opacity: 1;
}

footer .banners {
    text-align: center; margin-bottom: 1rem;
}
footer .banners img {
    width: 25%;
}

#container .banners img {
    width: 20%;
    border-radius: 8px;
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}