@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,500;0,700;1,400&display=swap");

@font-face {
    font-family: valkyrie_b_tab;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('valkyrie_b_tab_regular.woff2') format('woff2');
    }

    @font-face {
    font-family: valkyrie_b_tab;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('valkyrie_b_tab_italic.woff2') format('woff2');
    }

    @font-face {
    font-family: valkyrie_b_tab;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('valkyrie_b_tab_bold.woff2') format('woff2');
    }

    @font-face {
    font-family: valkyrie_b_tab;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('valkyrie_b_tab_bold_italic.woff2') format('woff2');
    }
/* Settings */
:root {
    --color-dark: #371722;
    --color-light: #E8E8E8;
    --color-primary: #D463A6;
    --size-step-0: clamp(1rem, calc(0.2rem + 0.15vw), 1.05rem);
    --size-step-1: clamp(1rem, calc(0.65rem + 0.43vw), 1.5rem);
    --size-step-2: clamp(1.05rem, calc(0.8rem + 0.5vw), 1.5rem);
    --size-step-3: clamp(1.95rem, calc(1rem + 1.24vw), 2.66rem);
    --size-step-4: clamp(1.24rem, calc(1rem + 1.23vw), 2.55rem);
    --spacing: 1.5rem;
    --align: center;
    --font-stack: "IBM Plex Sans Condensed", sans;
    --code-background-color: var(--color-dark);
    --code-color: var(--color-light);
}
@media (prefers-color-scheme: dark) {
:root {
    --color-dark: #fafafa;
    --color-light: #1a1a1a;
}
}
body {
    background: var(--color-light);
    color: var(--color-dark);
    padding: var(--spacing)
        clamp(calc(var(--spacing) / 2), 5vw, calc(var(--spacing) * 3));
    font-family: var(--font-stack);
    font-size: var(--size-step-1);
    line-height: 1.5;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    }
#container {
    text-align: justify;
}
#header img {
    height: 200px;
    margin-bottom: 20px;
}
#header {
}
#quotes {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
a {
    color: currentColor;}
a:hover {
    text-decoration: none;
    color: var(--color-primary);
}
h1 {
    font-size: var(--size-step-4);
}
h2 {
    font-size: var(--size-step-2);
    background-color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--color-primary);
    font-weight: normal;
    font-variant: small-caps;
    letter-spacing: 2px;

}
h3 {
    font-size: var(--size-step-2);
    font-weight: normal;
    font-variant: small-caps;
    letter-spacing: 2px;
    border-top: 1px solid white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-top: 5px;
}
h4 {
    font-size: var(--size-step-1);
}
h5 {
    font-size: var(--size-step-0);
}
footer {
    margin-top: 30px;
    text-align: center;
    border-top: 5px solid white;
    padding-top: 10px;
}
p {
    margin: 0;
}
@media screen and (min-width:1500px) {
        #container {
            width: 55%;
            margin: auto;
        }
        }

        @media screen and (min-width:1000px) and (max-width: 1500px) {
        #container {
            width: 50%;
            margin: auto;
        }
        }
        @media screen and (min-width:850px) and (max-width: 1000px) {
        #container {
            width: 70%;
            margin: auto;
        }
        }
        @media screen and (max-width:850px) {
        #container  {
            width: 98%;
            margin: auto;
        }
      }
#divisor {
    text-align: center;
    font-size: 36px;
    color: white;
    margin: 20px;
}
#divisor a {
    background: none;
}
#socials {
    text-align: center;
    margin-bottom: 20px;
}
#socials a {
    background: none;
}
</style>