@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,500;0,700;1,400&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


@font-face {
    font-family: valkyrie_b_tab;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('valkyrie_b_tab_regular.woff2') format('woff2');
    }

    @font-face {
    font-family: valkyrie_b_tab;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('valkyrie_b_tab_italic.woff2') format('woff2');
    }

    @font-face {
    font-family: valkyrie_b_tab;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('valkyrie_b_tab_bold.woff2') format('woff2');
    }

    @font-face {
    font-family: valkyrie_b_tab;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('valkyrie_b_tab_bold_italic.woff2') format('woff2');
    }
/* Settings */
:root {
    --color-dark: #3D3F4D;
    --color-light: #E8E8E8;
    --color-diff: #FFFFFF;
    --color-primary: #D463A6;
    --font-size: 1.1rem;
    --larger: 1.2rem;
    --smaller: 0.9rem;
    --spacing: 1.5rem;
    --align: center;
    --font-stack: "valkyrie_b_tab", serif;
    --code-background-color: var(--color-dark);
    --code-color: var(--color-light);
}
@media (prefers-color-scheme: dark) {
:root {
    --color-dark: #E8E8E8;
    --color-light: #3D3F4D;
    --color-diff: #1D1F26;
}
}
#image04 {
    height: 1rem !important;
object-fit: cover;
object-position: center;
width: 100% !important;
}
body {
    background: var(--color-light);
    color: var(--color-dark);
    font-family: var(--font-stack);
    font-size: var(--font-size);
    line-height: 1.5;
    margin: 0;
    }
#container {
    text-align: justify;
}
#header img {
    height: 200px;
    margin-bottom: 20px;
}
#header {
}
#quotes {
    border-top: 5px solid var(--color-diff);
    border-bottom: 5px solid var(--color-diff);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}
a {
    text-decoration: none;
    color: var(--color-dark);
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;}
a:hover {
    text-decoration: none;
    color: var(--color-light);
    background-color: var(--color-primary);
    border: 0;
}
h2 {
    font-size: var(--larger);
    background-color: var(--color-diff);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: var(--color-primary);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;

}
h3 {
    font-size: var(---larger);
    font-weight: normal;
    border-top: 1px dashed var(--color-primary);
    letter-spacing: 2px;
    text-align: right;
    font-family: "Roboto Mono", monospace;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-top: 5px;
}
footer {
    text-align: center;
    padding-top: 10px;
    font-size: var(--smaller);
}
footer a {
    font-size: var(--smaller);
}
p {
    margin: 0;
    margin-bottom: 10px;
}
@media screen and (min-width:1500px) {
        #container {
            width: 50%;
            margin: auto;
        }
        }

        @media screen and (min-width:1000px) and (max-width: 1500px) {
        #container {
            width: 50%;
            margin: auto;
        }
        }
        @media screen and (min-width:850px) and (max-width: 1000px) {
        #container {
            width: 70%;
            margin: auto;
        }
        }
        @media screen and (max-width:850px) {
        #container  {
            width: 98%;
            margin: auto;
        }
      }
#divisor {
    text-align: center;
    font-size: 36px;
    color: var(--color-diff);
    margin: 20px;
}
#divisor a {
    background: none;
    font-size: 36px;
    color: var(--color-diff);
    border: 0;
}
#divisor a:hover, #socials a:hover {
    color: var(--color-primary);
}
#socials {
    text-align: center;
    margin-top: 20px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}
#socials a {
    background: none;
    font-size: var(--larger);
    color: var(--color-diff);
    border: 0;
}