@font-face {
    font-family: valkyrie_b;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_regular.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_italic.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_bold.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_bold_italic.woff2") format("woff2");
    }

body {
    margin: 0;
    background-color: #E8E8E8;
    font-family: "valkyrie_b", serif;
}
p {
    margin: 0;
}
#container {
    padding: 30px;
    width: 40%;
    background-color: #FFFFFF;
    text-align: justify;
    margin: auto;
    margin-bottom: 30px;
    margin-top: -100px;
    padding-top: 80px;
}
#menu {
    margin: 0;
    width: 100%;
    background-color: #7a3b5e;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#menu a, #menu a:hover {
    color: #FFFFFF;
}
#links {
    margin-left: 25px;
    text-align: left;
}
#name {
    float: right;
    margin-right: 25px;
    font-weight: bold;
}
#icone {
    float: right;
    margin-top: -50px;
    margin-right: 10px;
}
#profile {
    text-align: center;
    margin-top: 20px;
}
#profile img {
    width: 150px;
    border-radius: 50%;
    border: 10px solid #7a3b5e;
    margin-bottom: 15px;
}
h1, h2, h3 {
    margin: 0;
    margin-bottom: 5px;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
    margin-bottom: 0;
}
h3 {
    font-variant: small-caps;
    font-weight: normal;
    text-transform: lowercase;
    color: #7a3b5e;
    font-family: Lato;
}
a, a:link, a:visited {
    color: #7a3b5e;
    text-decoration: none;
}
details {
    margin-top: 10px;
    border: 1px dashed #7a3b5e;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
details > summary {
    color: #7a3b5e;
}

a:hover {
    text-decoration: underline;
}
.fas {
    color: #7a3b5e;
}
ol {
    margin: 0;
    list-style-type: lower-alpha;
}
ul {
    margin: 0;
    list-style-type: square;
}
#research, #more {
    margin-top: 15px;
    background-color: #FFF;
    border-top: 10px solid #7a3b5e;
    padding: 20px;
}
.text {
    margin: 0;
    padding: 10px;
    text-align: justify;
}
.footer {
    padding: 5px;
    font-size: 80%;
    color: #7a3b5e;
}
#flag {
    margin-top: 20px;
    width: 100%;
    height: 8px;
}

.divider {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #7a3b5e;
    letter-spacing: 3px;
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    #container {
        width: 92%;
        padding: 4%;
        margin: 0;
        text-align: justify;
        border: 0;
    }
    #menu {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .text {
        padding: 0;
        margin: 0;
    }
    .footer {
        width: 100%;
        padding: 0;
        margin: 0;
    }
  }