@font-face {
    font-family: valkyrie_b;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_regular.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_italic.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_bold.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_bold_italic.woff2") format("woff2");
    }

body {
    background-color: #E8E8E8;
    font-family: "valkyrie_b", serif;
}
p {
    margin: 0;
}
#container {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}
@media screen and (max-width: 500px) {
    #container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        text-align: justify;
    }
  }
#menu {
    text-align: right;
}
#profile {
    text-align: center;
}
#profile img {
    width: 150px;
    border-radius: 50%;
    border: 10px solid #d5c8d6;
}
h1, h2, h3 {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}
h3 {
    font-variant: small-caps;
    font-weight: normal;
    text-transform: lowercase;
}
#scicomm h3 {
    color: #94adba;
    font-family: Lato;
}
#research h3, #more h3 {
    color: #876b89;
    font-family: Lato;
}
a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    background: linear-gradient(#d5c8d6, #d5c8d6) 0 95% / 100% 4px no-repeat;
    text-decoration: none;
}
.fas {
    color: #876b89;
}
ol {
    margin: 0;
    list-style-type: lower-alpha;
}
ul {
    margin: 0;
    list-style-type: square;
}
#research, #more {
    margin-top: 15px;
    background-color: #FFFFFF;
    border-top: 10px solid #d5c8d6;
    padding: 20px;
}
#scicomm {
    margin-top: 15px;
    padding: 20px;
    background-color: #FFFFFF;
    border-top: 10px solid #cdd7dc;
}
#scicomm a, #scicomm a:link, #scicomm a:visited {
    font-weight: bold;
}
#scicomm a:hover {
    background: linear-gradient(#cdd7dc, #cdd7dc) 0 95% / 100% 4px no-repeat;
}
#scicomm .fas {
    color: #94adba;
}
.text {
    padding: 10px;
}