@font-face {
    font-family: valkyrie_b;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_regular.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_italic.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_bold.woff2") format("woff2");
    }
    
@font-face {
    font-family: valkyrie_b;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url("valkyrie_b_tab_bold_italic.woff2") format("woff2");
    }
body {
    background-color: #E8E8E8;
    font-family: "valkyrie_b", serif;
}
p {
    margin: 0;
}
#container {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}
#menu {
    text-align: right;
}
#profile {
    text-align: center;
}
#profile img {
    width: 150px;
    border-radius: 50%;
    border: 10px solid #d5c8d6;
}
tt {
    color: #876b89;
}
h1, h2, h3 {
    margin: 0;
    margin-top: 10px;
}
h2 {
    border-top: 8px solid #d5c8d6;
    margin-top: 15px;
}
a, a:link, a:visited {
    background: linear-gradient(#d5c8d6, #d5c8d6) 0 95% / 100% 4px no-repeat;
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #876b89;
    background: none;
}
.fas {
    color: #876b89;
}
ol {
    margin: 0;
    list-style-type: lower-alpha;
}
ul {
    margin: 0;
    list-style-type: square;
}